# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]
*.pyo
*$py.class

# Logs
logs/
*.log

# Playwright Debug File
playwright_page.html

# IDE Files
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Database
*.db

# Test & Coverage
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/